body {
  background: #F5F5F5;
  color: #212121;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.component {
  display: block;
  position: relative;
  width: 400px;
  margin: 50px 0;
}
.component:focus {
  outline: none;
}
* {
  box-sizing: border-box;
}

